<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	Project2</display-name>
	
	
	<servlet>
             <servlet-name>savesession</servlet-name>
             <servlet-class>savesession</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>savesession</servlet-name>
             <url-pattern>/savesession</url-pattern>
    </servlet-mapping>
    <servlet>
             <servlet-name>sesession</servlet-name>
             <servlet-class>sesession</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>sesession</servlet-name>
             <url-pattern>/sesession</url-pattern>
    </servlet-mapping>
	<servlet>
             <servlet-name>addartist</servlet-name>
             <servlet-class>addartist</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>addartist</servlet-name>
             <url-pattern>/addartist</url-pattern>
    </servlet-mapping>
    <servlet>
             <servlet-name>addcustomer</servlet-name>
             <servlet-class>addcustomer</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>addcustomer</servlet-name>
             <url-pattern>/addcustomer</url-pattern>
    </servlet-mapping>
	<servlet>
             <servlet-name>searchartist</servlet-name>
             <servlet-class>searchartist</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>searchartist</servlet-name>
             <url-pattern>/searchartist</url-pattern>
    </servlet-mapping>
    <servlet>
             <servlet-name>searchcustomer</servlet-name>
             <servlet-class>searchcustomer</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>searchcustomer</servlet-name>
             <url-pattern>/searchcustomer</url-pattern>
    </servlet-mapping>
	<servlet>
             <servlet-name>additem</servlet-name>
             <servlet-class>additem</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>additem</servlet-name>
             <url-pattern>/additem</url-pattern>
    </servlet-mapping>
	<servlet>
             <servlet-name>searchitem</servlet-name>
             <servlet-class>searchitem</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>searchitem</servlet-name>
             <url-pattern>/searchitem</url-pattern>
    </servlet-mapping>
    <servlet>
             <servlet-name>searchcart</servlet-name>
             <servlet-class>searchcart</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>searchcart</servlet-name>
             <url-pattern>/searchcart</url-pattern>
    </servlet-mapping>
	<servlet>
             <servlet-name>showitem</servlet-name>
             <servlet-class>showitem</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>showitem</servlet-name>
             <url-pattern>/showitem</url-pattern>
    </servlet-mapping>

    <servlet>
             <servlet-name>showartist</servlet-name>
             <servlet-class>showartist</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>showartist</servlet-name>
             <url-pattern>/showartist</url-pattern>
    </servlet-mapping>
    <servlet>
             <servlet-name>showcart</servlet-name>
             <servlet-class>showcart</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>showcart</servlet-name>
             <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet>
             <servlet-name>showcustomer</servlet-name>
             <servlet-class>showcustomer</servlet-class>
    </servlet>    
    <servlet-mapping>
             <servlet-name>showcustomer</servlet-name>
             <url-pattern>/showcustomer</url-pattern>
    </servlet-mapping>
	
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
